<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/admin-layout :: layout(content=~{::section})}">
<body>
<section>
    <h2 style="font-family:'Bebas Neue'; margin-bottom:30px;">Editar cuenta: <span th:text="${user.name}"></span></h2>

    <div class="bg-white p-4 border" style="max-width: 600px;">
        <form th:action="@{'/admin/usuarios/update/' + ${user.id}}" method="POST">
            <div class="mb-3">
                <label class="form-label" style="font-size:11px; text-transform:uppercase;">Nombre completo</label>
                <input type="text" name="name" th:value="${user.name}" class="form-control" style="border-radius:0;" required>
            </div>

            <div class="mb-3">
                <label class="form-label" style="font-size:11px; text-transform:uppercase;">Email</label>
                <input type="email" name="email" th:value="${user.email}" class="form-control" style="border-radius:0;" required>
            </div>

            <div class="mb-3">
                <label class="form-label" style="font-size:11px; text-transform:uppercase;">Rol del Sistema</label>
                <select name="role.id" class="form-select" style="border-radius:0;">
                    <option th:each="r : ${roles}" th:value="${r.id}" th:text="${#strings.toUpperCase(r.name)}" th:selected="${r.id == user.role.id}"></option>
                </select>
            </div>

            <div class="mb-4">
                <label class="form-label" style="font-size:11px; text-transform:uppercase;">Nueva Contraseña <small>(Dejar vacío para mantener actual)</small></label>
                <input type="password" name="newPassword" class="form-control" style="border-radius:0;">
            </div>

            <button type="submit" class="btn btn-dark w-100" style="border-radius:0; padding:12px;">GUARDAR CAMBIOS</button>
            <div class="text-center mt-3">
                <a th:href="@{/admin/usuarios}" style="font-size:12px; color:#666;">Regresar</a>
            </div>
        </form>
    </div>
</section>
</body>
</html>